<div class="jumbotron row marketing">
  <div class="form-group col-md-3 col-sm-3 col-xs-12 col-lg-2" ng-repeat="ch in champions">
    <a href ng-click="toggleModal(ch)"><img class="imagedropshadow" ng-src="bower_components/dragontail/6.16.2/img/champion/{{ch.id}}.png"/></a>
  </div>
</div>

<modal-dialog show='modalShown' width="75%" height='100%'>
  <p>{{ch.info.name}}, {{ch.info.title}}<p>

  <div style="height: 1000px">
    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto; width:100%;">
        <div class="carousel-caption">
        </div>
      </div>
    </div>
  </div>
</modal-dialog>
